body {
    overflow:hidden;
    font-family: 'Doppio One', sans-serif;
}


#container {
    width:40%;
    display:flex;
    justify-content:space-between;
}
#container #semaforo {
    border: 2px solid black;
    border-radius:10px;
    position:relative;
    margin:10px;
    top:10px;
    width:150px;
    height:450px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 15px 7px 0 grey;
}
#container #semaforo .circles {
    position:relative;
    text-align:center;
    border-radius:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    width:85%;
    height:100%;
    font-size:100px; 
}

#botao button {
    width:150px;
    height:40px;
    margin:10px;
}

.grey {
    background-color:grey;
}
.divRed {
    background-color: #FF6B6B;
    color:white;
    box-shadow: inset 0 0 1em red;
    box-shadow:  0 0 1em red;
}
.divYellow {
    background-color: #FFD93D;
    color:black;
    box-shadow: inset 0 0 1em yellow;
    box-shadow: 0 0 1em yellow;
}
.divGreen {
    background-color: #6BCB77;
    color:white;
    box-shadow: inset 0 0 1em green;
    box-shadow: 0 0 1em green;
}

#container #pedestre {
    width:120px;
    height:250px;
    border: 2px solid black;
    position:relative;
    margin:10px;
    top:10px;
    display:flex;
    flex-direction: column;
    border-radius:10px;
    box-shadow: 15px 7px 0 grey;
}

#container #pedestre .pedCircle {
    position:relative;
    text-align:center;
    border-radius:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    width:85%;
    height:100%;
}